<!DOCTYPE html>
<html lang="en">
<head>
    <title><!-- %%% SITE_TITLE %%% --> - markski</title>

    <style>
        @import "template/style.css";
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
<header>
    <pre style="background: 0; color: #9955FF; font-size: 1rem; user-select: none;">
                      _        _    _
                     | |      | |  (_)
 _ __ ___   __ _ _ __| | _____| | ___
| '_ ` _ \ / _` | '__| |/ / __| |/ / |
| | | | | | (_| | |  |   <\__ \   <| |
|_| |_| |_|\__,_|_|  |_|\_\___/_|\_\_|
    </pre>

    <button class="menubtn" hx-get="/" hx-target="main" hx-push-url="true">
        about
    </button>
    <button class="menubtn" hx-get="software" hx-target="main" hx-push-url="true">
        software & services
    </button>
    <button class="menubtn" hx-get="libs" hx-target="main" hx-push-url="true">
        libraries
    </button>
    <button class="menubtn" hx-get="blog" hx-target="main" hx-push-url="true">
        blog
    </button>
    <button class="menubtn" hx-get="extras" hx-target="main" hx-push-url="true">
        extras
    </button>
</header>
<main>
    <!-- %%% SITE_CONTENT %%% -->
</main>
</body>
</html>
<script src="./dependencies/htmx.js"></script>