<!DOCTYPE html>
<html lang="en">
<head>
    <title><!-- %%% SITE_TITLE %%% --> - Markski</title>

    <meta name="description" content="<!-- %%% SITE_DESCRIPTION %%% -->">
    <meta name="og:title" content="<!-- %%% SITE_TITLE %%% --> - markski" />
    <meta property="og:description" content="<!-- %%% SITE_DESCRIPTION %%% -->" />
    <link rel="stylesheet" href="/template/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
<main>
    <div class="layout-menu">
        <a href="../" class="no-decor" hx-get="../" hx-target="#main-content" hx-push-url="true" hx-indicator="#main-content">
            <button class="menubtn">
                HOME
            </button>
        </a>

        <a href="../blog" class="no-decor" hx-get="../blog" hx-target="#main-content" hx-push-url="true" hx-indicator="#main-content">
            <button class="menubtn">
                BLOG
            </button>
        </a>

        <a href="../stuff" class="no-decor" hx-get="../stuff" hx-target="#main-content" hx-push-url="true" hx-indicator="#main-content">
            <button class="menubtn">
                STUFF
            </button>
        </a>
    </div>
    <div class="layout-content opacity-trans" id="main-content">
        <!-- %%% SITE_CONTENT %%% -->
    </div>
</main>
</body>
</html>
<script defer src="../dependencies/htmx.js"></script>