<div>
    <button class="menubtn" hx-get="index.php" hx-target="main" hx-push-url="true">
        about
    </button>
    <button class="menubtn" hx-get="software.php" hx-target="main" hx-push-url="true">
        software & services
    </button>
    <button class="menubtn" hx-get="libs.php" hx-target="main" hx-push-url="true">
        libraries
    </button>
    <button class="menubtn" hx-get="blog.php" hx-target="main" hx-push-url="true">
        blog
    </button>
    <button class="menubtn" hx-get="extras.php" hx-target="main" hx-push-url="true">
        extras
    </button>
</div>